//## Defaults
@import "_variables";
@import "_mixins";

html,
body {
  background-color: $gray;
  color: $gray;
  font-family: $primary-font;
  font-size: $font-size-base;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: 1.6;
  width: 100%;
  overflow-x: hidden;
}

.site-content {
    position: relative;
}

.site-main {
    background-color: $default;   
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    overflow-x: hidden;
    box-shadow: 0 0 100px rgba($gray-base, .5);
}

.section {
    float: left;
    width: 100%;
    clear: both;
    padding-top: 20px;
    padding-bottom: 20px;    
}

.section-header {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.section-header-subtitle {
    margin-top: .5rem;
}

.section-header-copy {
    margin-top: 2rem;
}

.highlighted {
    line-height: 1;

    span {
        background-color: $default;
        padding: 10px 10px 10px 5px;
        display: inline-block;
    }    
}

.divider {
    width: 100%;
    max-width: 250px;
    height: 1px;
    background-color: $primary;
    margin: 4rem auto;
    display: block;
    clear: both;

    &--transparent {
        background-color: transparent;
    }
}

.divider-sm {
    max-width: 150px;
    margin: 2rem auto;
}

.inline-data {
    margin-right: 20px;
}
