//## Header
@import "_variables";
@import "_mixins";

.site-footer {
    z-index: 999;
    position: relative;

    .site-branding {
        padding: 2rem 3rem 2rem;

        @include breakpoint(md) {
            padding: 0;
            min-height: 300px;
        }

        @include breakpoint(sm) {
            padding: 0;
            min-height: 250px;
        }        

        &::before {
            height: 100%;

            @include breakpoint(md) {
                height: 100%;
                background-size: contain;
            }
        }   
    }
}

.site-footer-topbar-wrapper {
    padding: .5rem 0 0;
    @include transition(padding 1s ease);

    @include breakpoint(md) {
        padding: 0;        
    }

    .contact-info {

        @include breakpoint(md) {
            text-align: center;
        }
    }

    .social-nav {

        li {            

            @include breakpoint(md) {
                margin: 1rem .5rem;
            }            
        }
    }
}

.site-footer-navbar-wrapper {
    padding: 1.5rem 0 .5rem;   

    @include breakpoint(md) {
        padding: 2rem 0 4rem;
        text-align: center;
    }
}