//## Header
@import "_variables";
@import "_mixins";

.site-header {
    z-index: 999;
    width: 100%;
    position: fixed;
}

.main-navigation {
    padding-top: 0;
    padding-bottom: 0;
    background-color: $gray-base;
    border: none;
}

.site-header-topbar-wrapper {
    padding: .5rem 0 0;
    @include transition(padding 1s ease);

    @include breakpoint(md) {
        padding: 0 0 4rem;
    }

    @include breakpoint(sm) {
        padding: 0 0 2rem;
    }
}

.site-header-navbar-wrapper {
    padding: 1.5rem 0 .5rem;

    @include breakpoint(md) {
        padding: 4rem 0 4rem;
    }

    @include breakpoint(sm) {
        padding: 2rem 0 2rem;
    }
}

.site-branding {
    background-color: $gray-base;
    position: relative;
    z-index: 1;
    height: 100%;
    left: -15px;
    padding: 4rem 3rem 0;
    @include transition(padding .5s ease);
    @include flexbox;
    @include justify-content(center);
    @include align-items(center);

    @include breakpoint(md) {
        left: 0;
    }

    @include breakpoint(sm) {
        padding: 2rem 2rem 0;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $gray-base;
        background-image: url('../img/logo-r.svg');
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        @include transition(height .5s ease);
    }

    &.homepage  {

        &::before {
            height: calc(100% + 4rem);

            .active & {
                height: 100%;
            }

            @include breakpoint(sm) {
                height: calc(100% + 2rem);
            }
        }
    }
}

.navbar-brand {
    margin: 0;
    opacity: 0;
    visibility: hidden;
}

.contact-info {
    color: $default;
    font-size: $font-size-xs;
    padding: 0 .5rem;

    a {
        color: $default;
        text-decoration: none;
        padding-right: 5px;
    }

    @include breakpoint(md) {
        font-size: 125%;
        padding: 0;
    }
}

.social-nav {
    padding: 0 .5rem;

    @include breakpoint(md) {
        padding: 1rem 0;
        @include flex-direction(row);
    }

    li {
        width: 24px;
        height: 24px;
        background-size: 24px;
        background-color: $gray;
        overflow: hidden;
        text-indent: -9999px;
        display: inline-block;
        margin: 0 .25rem;
        border-radius: ($border-radius-base / 4);

        @include breakpoint(md) {
            width: 32px;
            height: 32px;
            background-size: 32px;
            margin: 0 1rem 0 0
        }

        &.facebook {
            background-image: url('../img/icons/facebook.svg');
            background-color: #4D6FA9;
        }

        &.tripadvisor {
            background-image: url('../img/icons/tripadvisor-logotype.svg');
            background-color: $primary;
        }

        &.linkedin {
            background-image: url('../img/icons/linkedin.svg');
            background-color: #007bb6;
        }
    }
}

.lang {
    padding: 0 .5rem;

    @include breakpoint(md) {
        padding: 0;
    }

    .lang-item {
        display: inline-block;
        margin: 0 .5rem;
    }

    .lang-item a {
        color: $default;
        font-size: $font-size-xs;
        text-transform: uppercase;
        opacity: .25;
        @include transition(opacity .3s ease);

        &:hover {
            opacity: 1;
        }
    }

    .current-lang a {
        opacity: 1;
    }
}

.nav-toggle-wrapper {

    .navbar-toggler {
        border: none;
    }
}

.nav-item {

    .nav-link {

        @include breakpoint(md) {
            font-size: 125%;
        }
    }

    .btn {
        margin-left: .5rem;

        @include breakpoint(md) {
            margin-left: 0;
            margin-top: 1rem;
            padding: .5rem 2rem;
            font-size: $font-size-copy;
        }
    }
}

.menu-item {
    @extend .nav-item;

    a:not(.btn) {
        display: block;
        padding-top: .5rem;
        padding-bottom: .5rem;
        padding-right: .5rem;
        padding-left: .5rem;
        color: rgba($default, .5);

        &.active {
            color: $default;
        }
    }
}

