//## Slider
@import "_variables";
@import "_mixins";

.gallery-carousel,
.rooms-slider {
	position: relative;
}

.carousel-pagination {
	position: relative;
	padding: 0;
	margin-top: 4rem;
	margin-bottom: 4rem;	

	&.swiper-pagination {

		.swiper-pagination-bullet {
			width: 12px;
			height: 12px;
			margin: 0 10px;
			position: relative;
			@include transition(box-shadow .5s ease);
		}

		.swiper-pagination-bullet-active {
			background-color: $primary;
			box-shadow: 0 0 0 2px $default, 0 0 0 3px $primary;
		}
	}
}

.gallery-pagination {
	position: relative;
}

.gallery-slide {

	img {
		display: block;
	}
}

.swiper-slider {

	.tablet-slider {
		
		&.row {

			@include breakpoint(md) {
				margin: 0;
				@include flex-wrap(nowrap);
			}
		}
	}

	.mobile-slider {
		
		&.row {

			@include breakpoint(sm) {
				margin: 0;
				@include flex-wrap(nowrap);
			}
		}
	}

	.meeting-slide {

		@include breakpoint(md) {
			padding: 0;
		}	
	}
}


.thumbs-pagination {
	position: relative;
	margin: 20px 0 0;
	@include flexbox;
	@include flex-wrap(wrap);
}

.swiper-pagination {

	.gallery-thumb {
		width: 100%;
		max-width: 70px;
		height: auto;
		opacity: 1;
		background-color: $gray-lighter;
		border-radius: 0;
		display: inline-block;
		float: left;
		margin: 0 .5rem .5rem 0 !important;
		@include transition(opacity .3s ease, transform .3s ease);

		&:not(.swiper-pagination-bullet-active) {
			opacity: .8;
			transform: scale(.9);
		}
	}  
}

.gallery-thumb img {
	width: 100%;
	display: block;
}

