//## Typography
@import "_variables";
@import "_mixins";

// @font-face {
//   font-family: 'Verlag';
//   src: url("../fonts/verlag/verlag-light-webfont.woff") format("woff");
//   font-weight: 400;
//   font-style: normal;
// }

@font-face {
  font-family: 'Verlag';
  src: url("../fonts/verlag/verlag-book-new.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Verlag';
  src: url("../fonts/verlag/verlag-bold-webfont.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}


h1 { font-size: $h1; line-height: 1.2; }
h2 { font-size: $h2; line-height: 1.2; }
h3 { font-size: $h3; line-height: 1.2; }
h4 { font-size: $h4; }
h5 { font-size: $h5; }
h6 { font-size: $h6; }


@include breakpoint(sm) {
	h1 { font-size: ($h1 / 1.4); }
	h2 { font-size: ($h2 / 1.2); }
  h3 { font-size: ($h3 / 1.2); }
}

.copy {

	p {
		font-size: $font-size-copy;
	}
}