//## Utilities
@import "../_variables";
@import "../_mixins";

//** Text
.u-text-sm { font-size: $font-size-sm; }
.u-text-xs { font-size: $font-size-xs; }

//** Colors
.u-text-light-gray {
	color: $gray-light;
}

//** Layout
.u-m-top { margin-top: 2rem; }
.u-m-bottom { margin-bottom: 2rem; }
.u-no-p-top { padding-top: 0; }
.u-no-p-bottom { padding-bottom: 0; }
.u-no-m-top { margin-top: 0; }
.u-no-m-bottom { margin-bottom: 0; }

//** Width, height
.u-full-width { width: 100%; }