//## Contact section
@import "../../../_variables";
@import "../../../_mixins";


.booking-form-advanced {    

    @include breakpoint(md) {
        max-width: 100%;
        padding: 20px 20px;
        background-color: $default;
        box-shadow: 0 0 75px 0 rgba($gray-base, 0.2);
    }

    .form-group:nth-child(1),
    .form-group:nth-child(2),
    .form-group:nth-child(3),
    .form-group:nth-child(4) {
        margin-bottom: 2px;
    }

    .form-footer {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.contact-section-banner {
    margin-top: 4rem;
}

.contact-section-consultant {
    margin-bottom: 4rem;
}
