//## Intro section
@import "../../../_variables";
@import "../../../_mixins";

.intro-section {
    background-image: url(../img/intro-banner.jpg);
    background-repeat: no-repeat;
    background-position: top;
}

.booking-form {
    width: 100%;
    max-width: 420px;
    background-color: $default;
    padding: 20px 30px;
    box-shadow: 0 0 75px 0 rgba($gray-base, 0.2);

    @include breakpoint(md) {
        max-width: 100%;
        padding: 20px 20px;
    }

    .form-group:nth-child(1),
    .form-group:nth-child(2),
    .form-group:nth-child(3) {
        margin-bottom: 2px;
    }
}

.form-footer {
    margin-top: 20px;
}

.re-captcha { 
    margin-bottom: 10px;
    min-height: 78px;
}
