//## Map section
@import "../../../_variables";
@import "../../../_mixins";

.map-wrapper {
	margin: 2rem 0 0;
	position: relative;	
	padding-bottom: 40%;
	height: 0;
	overflow: hidden;

	@include breakpoint(sm) {
		// padding-bottom: 56.25%;
		padding-bottom: 70vh;
	}

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100% !important;
		height: 100% !important;
	}	
}