//## Rooms section
@import "../../../_variables";
@import "../../../_mixins";

.rooms-section {
	background-color: $gray-lightest;
	padding-bottom: 0;
}

.room {

	@include breakpoint(md) {
		background-color: $default;
		box-shadow: 0 0 40px rgba($gray-base, .1);
	}
}

.room-content {

	@include breakpoint(md) {
		padding: 15px 30px;
	}
}

.room-title {
	margin-bottom: 1rem;

	@include breakpoint(md) {
		text-align: center;
	}	
}

.room-meta {
	margin-bottom: 1rem;

	.btn {
		margin-bottom: 1rem;

		@include breakpoint(md) {
			width: 100%;
			margin-bottom: 0;
			margin-top: 1rem;
		}
	}
}