<footer id="colophon" class="site-footer">
	<nav class="navbar navbar-expand-lg navbar-dark bg-faded main-navigation align-items-start">
		<div class="container">
			<div class="u-full-width d-flex flex-column flex-lg-row justify-content-between">				
				<a href="#" class="site-branding">
					<span class="navbar-brand">Renaissance</span>
				</a><!-- .site-branding -->

				<div class="d-flex flex-column align-items-center align-items-lg-end ">
					<div class="site-footer-topbar-wrapper">
						<div class="d-flex flex-column flex-lg-row align-items-center align-items-lg-start">
							<div class="contact-info">
								<span>telefon: + 48 456 342 998 e-mail: event@chopinad.pl</span>
							</div>
							<ul class="navbar-nav social-nav">
								<li class="nav-item facebook">
									<a class="nav-link" href="#">Facebook</a>
								</li>
								<li class="nav-item linkedin">
									<a class="nav-link" href="#">LinkedIn</a>
								</li>
							</ul>
							<div class="lang">
								<span><a href="#" class="lang__item active">PL</a></span>
								<span>/</span>
								<span><a href="#" class="lang__item">EN</a></span>						
							</div>
						</div>
					</div>

					<div class="site-footer-navbar-wrapper">
						<ul class="navbar-nav text-uppercase">
							<li class="nav-item active">
								<a class="nav-link" href="#">O przestrzeni <span class="sr-only">(current)</span></a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Sale</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Program</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Jak dojechać</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Kontakt</a>
							</li>
							<li class="nav-item">
								<button type="button" class="btn btn-ren">Rezerwuj</button>	
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</nav><!-- #site-navigation -->
</footer><!-- #colophon -->