<header id="masthead" class="site-header">	
	<nav id="site-navigation" class="navbar navbar-expand-lg navbar-dark bg-faded main-navigation align-items-start">
		<div class="container">

			<a href="#" class="site-branding homepage">
				<span class="navbar-brand" >Renaissance</span>
			</a><!-- .site-branding -->

			<div class="div nav-toggle-wrapper ml-auto">
				<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
			</div>			

			<div class="collapse navbar-collapse flex-column-reverse align-items-end" id="navbarNav">
				<div class="site-header-navbar-wrapper">
					<ul class="navbar-nav text-uppercase">
						<li class="nav-item active">
							<a class="nav-link" href="#">O przestrzeni <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Sale</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Program</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Jak dojechać</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Kontakt</a>
						</li>
						<li class="nav-item">
							<button type="button" class="btn btn-ren">Rezerwuj</button>	
						</li>														
					</ul>
				</div>
			
				<div class="site-header-topbar-wrapper">
					<div class="d-flex flex-column align-items-start flex-lg-row align-items-lg-center">
						<div class="contact-info">
							<span>telefon: + 48 456 342 998 e-mail: event@chopinad.pl</span>
						</div>
						<ul class="navbar-nav social-nav">
							<li class="nav-item facebook">
								<a class="nav-link" href="#">Facebook</a>
							</li>
							<li class="nav-item linkedin">
								<a class="nav-link" href="#">LinkedIn</a>
							</li>
						</ul>
						<div class="lang">
							<span><a href="#" class="lang__item active">PL</a></span>
							<span>/</span>
							<span><a href="#" class="lang__item">EN</a></span>						
						</div>
					</div>
				</div>
			</div>

		</div>
	</nav><!-- #site-navigation -->

</header><!-- #masthead -->