//## Buttons
@import "../_variables";
@import "../_mixins";

button {
    appearance: none;
    border: 0;
}

.btn {
    font-size: $font-size-sm;
    border-radius: 0;
    text-transform: uppercase;
}

.btn-ren {
    background-color: $primary;
    border-color: $primary;
    color: $default;

    &:active,
    &:hover {
        background-color: darken($primary, 10%);
        border-color: darken($primary, 10%);
        color: $default;
    }

    &:focus {
        box-shadow: 0 0 0 0.2rem rgba($primary, .25);
    }
}

.btn-form-submit {
    padding: 12px 30px;
}

.btn-ren-gray {
    background-color: $gray-light;
    border-color: $gray-light;
    color: $default !important;

    &:active,
    &:hover {
        background-color: darken($gray-light, 10%);
        border-color: darken($gray-light, 10%);
        color: $default;
    }

    &:focus {
        box-shadow: 0 0 0 0.2rem rgba($gray-light, .25);
    }
}

.btn-with-icon {

    * {
        vertical-align: middle;
    }

    .icon {
        margin-left: 1rem;
    }
}