//## Embed
@import "../_variables";
@import "../_mixins";

.video-wrapper {
	position: relative;
	// padding-bottom: 56.25%; /* 16:9 */
	padding-bottom: 50%;
	padding-top: 25px;
	height: 0;
	box-shadow: 0 5px 30px rgba($gray-base, .1);
}
.video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}