//## Icons
@import "../_variables";
@import "../_mixins";


.icon {
	display: inline-block;
	width: 44px;
	height: 44px;
	background-size: 44px;
	background-position: center;
}

.icon-bus {
	background-image: url('../img/icons/bus.svg');	
}

.icon-car {
	background-image: url('../img/icons/car.svg');	
}

.icon-catering {
	background-image: url('../img/icons/catering.svg');	
}

.icon-consultant {
	background-image: url('../img/icons/consultant.svg');	
}

.icon-karaoke {
	background-image: url('../img/icons/karaoke.svg');	
}

.icon-pdf {
	background-image: url('../img/icons/pdf.svg');	
}

.icon-placeholder {
	background-image: url('../img/icons/placeholder.svg');	
}

.icon-plans {
	background-image: url('../img/icons/plans.svg');	
}

.icon-presentation {
	background-image: url('../img/icons/presentation.svg');	
}

.icon-projector {
	background-image: url('../img/icons/projector.svg');	
}

.icon-server {
	background-image: url('../img/icons/server.svg');	
}

.icon-tram {
	background-image: url('../img/icons/tram-front-view.svg');	
}

.icon-translate {
	background-image: url('../img/icons/translate.svg');	
}

.icon-wifi {
	background-image: url('../img/icons/wifi.svg');	
}

.icon-sm {
	width: 18px;
	height: 18px;
	background-size: 18px;
}

.icon-md {
	width: 24px;
	height: 24px;
	background-size: 24px;	
}

.icon-inline {
	margin-right: 10px;
}

