//## Inputs
@import "_variables";
@import "_mixins";

.form-group {
  position: relative;
}

.form-control {
    border: 0;
    border-radius: 0;
    height: 50px;
    padding: 5px 20px;
	background-color: #f6f7f8;
	border: solid 1px $primary;
}

.textarea {
	min-height: 200px;
}

.form-control:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: $primary;
  box-shadow: 0 0 0 0.2rem rgba($primary, .15);
  outline: 0 none;
}

//** CF7 styles
.wpcf7-list-item-label,
.screen-reader-response {
  display: none;
  user-select: none;
  visibility: hidden;
  opacity: 0;
}

.wpcf7-not-valid-tip {
  font-size: $font-size-xs;
  font-weight: 700;
  color: red;
}

div:not(.cf7) > .wpcf7-not-valid-tip {
  display: none;
}

[aria-invalid="true"] {
  border-color: #f6f7f8;
  box-shadow: 0 0 0 0.1rem rgba(red, .5);
}

.wpcf7-response-output,
.wpcf7-validation-errors {
  position: absolute;
  padding: 20px 0;
  font-weight: 700;
}

.wpcf7-validation-errors {
  color: red;
}

.booking-form-advanced + .wpcf7-response-output,
.booking-form-advanced + .wpcf7-validation-errors {
  width: 100%;
  text-align: center;
}