<section class="section about-section" id="about">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-sm-12 col-md-12 col-lg-10">
				<header class="section-header u-no-p-bottom text-center">
					<h2><strong>844 m<sup>2</sup></strong> powierzchni konferencyjnej</h2>
				</header>
				<div class="divider"></div>
				<div class="copy text-center u-text-light-gray">
					<p>Przestrzeń biznesowa w Renaissance Warsaw Airport Hotel to nowocześnie zaprojektowane sale konferencyjne umożliwiające dopasowanie rozwiązań do indywidualnych potrzeb klienta. Zapewniamy innowacyjne zaplecze techniczne z szybkim dostępem do Internetu, oraz niestandardowe wnętrza, przystosowane do dowolnej aranżacji.</p>
				</div>
				<div class="divider"></div>
			</div>
		</div>
	</div>
	
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-sm-12 col-md-12 col-lg-11">		
				<div class="gallery-carousel">
					<ul class="swiper-wrapper">
						<li class="swiper-slide">
							<img src="https://placeimg.com/720/500/arch/1" alt="Ren">
						</li>
						<li class="swiper-slide">
							<img src="https://placeimg.com/720/500/arch/2" alt="Ren">
						</li>
						<li class="swiper-slide">
							<img src="https://placeimg.com/720/500/arch/3" alt="Ren">
						</li>
						<li class="swiper-slide">
							<img src="https://placeimg.com/720/500/arch/4" alt="Ren">
						</li>
						<li class="swiper-slide">
							<img src="https://placeimg.com/720/500/arch/5" alt="Ren">
						</li>
						<li class="swiper-slide">
							<img src="https://placeimg.com/720/500/arch/6" alt="Ren">
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="features">					
			<ul class="d-flex justify-content-between text-center u-text-light-gray mobile-slider">
				<li class="feature">
					<div class="feature__header">dogodna lokalizacja</div>
					<i class="icon icon-placeholder"></i>
				</li>

				<li class="feature">
					<div class="feature__header">infrasturktura</div>
					<i class="icon icon-presentation"></i>
				</li>

				<li class="feature">
					<div class="feature__header">dedykowany konsultant</div>
					<i class="icon icon-consultant"></i>
				</li>

				<li class="feature">
					<div class="feature__header">nowoczesne technologie</div>
					<i class="icon icon-server"></i>
				</li>						

				<li class="feature">
					<div class="feature__header">szybkie wi fi</div>
					<i class="icon icon-wifi"></i>
				</li>

				<li class="feature">
					<div class="feature__header">świetna kuchnia</div>
					<i class="icon icon-catering"></i>
				</li>

				<li class="feature">
					<div class="feature__header">102 miejsca parkingowe</div>
					<i class="icon icon-car"></i>
				</li>
			</ul>
		</div>
	</div>
</section>