<section class="section about-section">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-sm-12 col-md-12 col-lg-11">
				<div class="row justify-content-between">
					<div class="col-sm-12 col-md-12 col-lg-5 u-m-top">
						<header class="section-header u-no-p-bottom text-center">
							<h2>Sala <strong>Balowa</strong></h2>
						</header>
						<div class="divider divider-sm"></div>
						<div class="row justify-content-center">
							<div class="col-sm-12 col-md-12 col-lg-11">
								<div class="copy text-center u-text-light-gray">
									<p>Elegancka 400 metrowa sala balowa to doskonałe miejsce na przygotowanie ważnego wydarzenia. 5,25 m wysokości nadaje sali przestronny charakter, a możliwość przesuwania ścian wewnętrznych pozwala na zaadaptowanie wybranej powierzchnido dowolnego eventu.</p>
								</div>								
							</div>
						</div>						
					</div>

					<div class="col-sm-12 col-md-12 col-lg-6 text-center u-m-top">
						<figure>
							<img src="https://placeimg.com/600/800/arch/0" alt="Ren">
						</figure>
					</div>
				</div>				
			</div>
		</div>
	</div>
</section>