<section class="section contact-section" id="contact">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-sm-12 col-md-12 col-lg-11">
				<header class="section-header u-no-p-bottom text-center">
					<h2><strong>Renaissance</strong> na Twoje wydarzenie?</h2>					
					<h4 class="section-header-subtitle u-text-light-gray">Masz pytanie ? Chcesz zarezerwować R.E.M na swój event?<br>Napisz do nas, a my odezwiemy się w ciągu 24 godzin.</h4>
				</header>
				<div class="divider divider-sm divider--transparent"></div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row justify-content-center">
			<div class="col-sm-12 col-md-12 col-lg-11">

				<form class="form-horizontal booking-form-advanced">
					<div class="row">
						<fieldset class="col-sm-12 col-md-12 col-lg-5">
							<!-- Text input-->
							<div class="form-group">
								<label class="control-label u-text-light-gray" for="name-advanced">Imię:</label>  
								<input id="name-advanced" name="name-advanced" type="text" placeholder="" class="form-control input-md" required="">			    
							</div>

							<!-- Text input-->
							<div class="form-group">
								<label class="control-label u-text-light-gray" for="last-name-advanced">Nazwisko:</label>  
								<input id="last-name-advanced" name="last-name-advanced" type="text" placeholder="" class="form-control input-md">
							</div>						

							<!-- Text input-->
							<div class="form-group">
								<label class="control-label u-text-light-gray" for="email-advanced">E-mail:</label>  
								<input id="email-advanced" name="email-advanced" type="email" placeholder="" class="form-control input-md" required="">
							</div>

							<!-- Text input-->
							<div class="form-group">
								<label class="control-label u-text-light-gray" for="company-name-advanced">Nazwa firmy:</label>  
								<input id="company-name-advanced" name="company-name-advanced" type="text" placeholder="" class="form-control input-md">
							</div>								
						</fieldset>

						<fieldset class="col-sm-12 col-md-12 col-lg-7">
							<!-- Text input-->
							<div class="form-group">
								<label class="control-label u-text-light-gray" for="tel-advanced">Telefon:</label>  
								<input id="tel-advanced" name="tel-advanced" type="text" placeholder="" class="form-control input-md">
							</div>

							<!-- Text input-->
							<div class="form-group">
								<label class="control-label u-text-light-gray" for="message-advanced">Wiadomości:</label>
								<textarea id="message-advanced" name="message-advanced" placeholder="" class="form-control textarea input-md"></textarea>
							</div>							
						</fieldset>
					</div>


					<fieldset class="form-footer">
						<!-- Multiple Checkboxes -->
						<div class="form-group">
							<div class="checkbox">						
								<input type="checkbox" name="checkboxes" id="checkbox-0-advanced">
				      			<label for="checkbox-0-advanced" class="u-text-xs u-text-light-gray">Klikając wyślij przyjmuje Pan/Pani do wiadomości i wyraża zgodę na wykorzystywanie Pana/Pani danych osobowych dla celów (...)</label>
				      		</div>
				  			<div class="checkbox">					
								<input type="checkbox" name="checkboxes" id="checkbox-1-advanced">
								<label for="checkbox-1-advanced" class="u-text-xs u-text-light-gray">Chciałby/chciałabym otrzymywać oferty specjalne, informacje na temat wydarzeń i promocji, w szczególności za pośrednictwem poczty elektronicznej o.o.wy (...)</label>
							</div>
						</div>
						<br>
						<div class="row align-items-center">
							<div class="col-sm-12 col-md-8 col-lg-8">
								<div class="re-captcha">										
									<img src="https://www.google.com/recaptcha/intro/images/hero-recaptcha-demo.gif" alt="Captcha" style="display: block; width: 100%; max-width: 300px;">
								</div>
							</div>
							<div class="col-sm-12 col-md-4 col-lg-4 d-flex justify-content-end">
								<button id="submit-advanced" name="submit" class="btn btn-ren btn-form-submit btn-block">Wyślij</button>
							</div>
						</div>
					</fieldset>
				</form>

			</div>
		</div>
	</div>

	<section class="section sub-section contact-section-banner">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-xs-12 col-md-12 col-lg-8">
					<div class="banner">
						<figure class="banner-image-wrapper">
							<img src="img/marriott-rewards.jpg" alt="Ren" class="banner__image">
						</figure>
						<div class="banner-copy-wrapper">
							<h3 class="banner__title">Rewarding Events</h3>
							<div class="copy u-text-light-gray">
								<p>Więcej o systemie partnerskim.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


	<section class="section sub-section contact-section-consultant">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-sm-12 col-md-12 col-lg-11">
					<header class="section-header u-no-p-bottom text-center">
						<h2><strong>Skontaktuj</strong> się z nami</h2>					
					</header>
					<div class="divider divider-sm"></div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row justify-content-center">
				<div class="col-xs-12 col-md-12 col-lg-8">
					<div class="person d-flex">
						<figure class="person-image-wrapper">
							<img src="https://placeimg.com/120/120/arch/32" alt="Ren" class="person__image">
						</figure>
						<div class="person-info-wrapper">							
							<div class="person-info-col">
								<div class="person-header-wrapper">								
									<h5 class="person__headline">Kasia Kowalska</h5>
									<div class="person__position">Event manager</div>
								</div>
								<div class="person__tel">telefon: +48 XXX XXX XXX</div>
								<div class="person__email">emial: XXXX@XXXXX.com</div>
							</div>

							<div class="person-info-col">
								<div class="person-header-wrapper">								
									<h5 class="person__headline">BIURO:</h5>
								</div>
								<div class="person__tel">telefon: +48 XXX XXX XXX</div>
								<div class="person__email">emial: XXXX@XXXXX.com</div>
							</div>						
						</div>
					</div>
				</div>
			</div>			
		</div>
	</section>	
</section>


