<section class="section intro-section">
	<div class="container">		
		<div class="row justify-content-center align-items-center">
			<div class="col-sm-12 col-md-12 col-lg-6">
				<header class="section-header">
					<h2 class="highlighted">
						<span class="font-weight-bold">R.E.N. Meetings</span><br>
						<span>Przestrzeń na Twoje</span><br>
						<span>wydarzenie.</span>
					</h2>
				</header>
			</div>
			<div class="col-sm-12 col-md-12 col-lg-5 d-flex justify-content-center justify-content-lg-end">
				<form class="form-horizontal booking-form">
					<fieldset>
						<legend class="text-center">
							<h3><strong>Zapytaj</strong> o ofertę</h3><br>
							<span class="u-text-light-gray">Oddzwonimy w <strong>24h</strong></span>
						</legend>

						<div class="row">
							<!-- Text input-->
							<div class="form-group col-sm-12 col-md-6 col-lg-12">
								<label class="control-label u-text-light-gray" for="name">Imię:</label>  
								<input id="name" name="name" type="text" placeholder="" class="form-control input-md" required="">			    
							</div>

							<!-- Text input-->
							<div class="form-group col-sm-12 col-md-6 col-lg-12">
								<label class="control-label u-text-light-gray" for="last-name">Nazwisko:</label>  
								<input id="last-name" name="last-name" type="text" placeholder="" class="form-control input-md">
							</div>						

							<!-- Text input-->
							<div class="form-group col-sm-12 col-md-6 col-lg-12">
								<label class="control-label u-text-light-gray" for="email">E-mail:</label>  
								<input id="email" name="email" type="email" placeholder="" class="form-control input-md" required="">
							</div>

							<!-- Text input-->
							<div class="form-group col-sm-12 col-md-6 col-lg-12">
								<label class="control-label u-text-light-gray" for="tel">Telefon:</label>  
								<input id="tel" name="tel" type="text" placeholder="" class="form-control input-md">
							</div>
						</div>

						<!-- Multiple Checkboxes -->
						<div class="form-group">
							<div class="checkbox">						
								<input type="checkbox" name="checkboxes" id="checkbox-0">
				      			<label for="checkbox-0" class="u-text-xs u-text-light-gray">Klikając wyślij przyjmuje Pan/Pani do wiadomości i wyraża zgodę na wykorzystywanie Pana/Pani danych osobowych dla celów (...)</label>
				      		</div>
				  			<div class="checkbox">					
								<input type="checkbox" name="checkboxes" id="checkbox-1">
								<label for="checkbox-1" class="u-text-xs u-text-light-gray">Chciałby/chciałabym otrzymywać oferty specjalne, informacje na temat wydarzeń i promocji, w szczególności za pośrednictwem poczty elektronicznej o.o.wy (...)</label>
							</div>
						</div>

						<!-- Button -->
						<div class="form-group form-footer">
							<div class="row align-items-center">
								<div class="col-sm-12 col-md-12 col-lg-8">
									<div class="re-captcha">										
										<img src="https://www.google.com/recaptcha/intro/images/hero-recaptcha-demo.gif" alt="Captcha" style="display: block; width: 100%; max-width: 300px;">
									</div>
								</div>
								<div class="col-sm-12 col-md-12 col-lg-4">
									<button id="submit" name="submit" class="btn btn-ren btn-form-submit btn-block">Wyślij</button>
								</div>
							</div>
						</div>
					</fieldset>
				</form>		
			</div>
		</div>
	</div>
</section>
