<section class="section map-section" id="map">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-sm-12 col-md-12 col-lg-11">
				<header class="section-header u-no-p-bottom text-center">
					<h2><strong>Łatwy</strong> dojazd</h2>
					<div class="divider divider-sm"></div>
					<h4 class="section-header-subtitle u-text-light-gray">
						<span class="inline-data">							
							<i class="icon icon-bus icon-sm icon-inline"></i> 9, 24, 19, 34, 12 przystanek Pruszkowska 01
						</span>
						<span class="inline-data">							
							<i class="icon icon-tram icon-sm icon-inline"></i>222, 204, 119 przystanek Pruszkowska 01
						</span>
						<br>
						<span class="inline-data">							
							<i class="icon icon-placeholder icon-sm icon-inline"></i>52°10'25.1"N 20°58'59.2"E
						</span>																		
					</h4>
				</header>				
			</div>
		</div>
	</div>

	<div class="map-wrapper">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2446.9291190671593!2d20.97111526790944!3d52.1719821634536!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4719331117b8a49d%3A0x4cf13ed18e9eb61b!2sRenaissance+Warsaw+Airport+Hotel!5e0!3m2!1spl!2spl!4v1517924980367" style="border:0" allowfullscreen></iframe>		
	</div>
</section>