<section class="section meetings-section" id="meetings">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-sm-12 col-md-12 col-lg-11">
				<header class="section-header u-no-p-bottom text-center">
					<h2><strong>R.E.N Meetings</strong></h2>
					<h4 class="section-header-subtitle u-text-light-gray">Poznaj nowe oblicze konferencji.</h4>
					<div class="section-header-copy">						
						<div class="copy u-text-light-gray">
							<p>R.E.N Meetings w Renaissance Warsaw Airport Hotel to przestrzeń konferencyjna zaprojektowana tak, aby każdy z gości doświadczył lokalnego klimatu w niebanalnym wydaniu. Nieważny jest cel, czy wielkość eventu. Nasz specjalnie wyszkolony zespół pomoże w organizacji każdego wydarzenia. </p>
						</div>
					</div>
				</header>
				<div class="divider divider--transparent"></div>
			</div>

			<div class="col-sm-12 col-md-12 col-lg-11">
				<ul class="meetings row tablet-slider">

					<li class="col-sm-12 col-md-12 col-lg-4 meeting-slide">
						<div class="meeting">							
							<header class="meeting-header">
								<h3 class="meeting__title">Rlife® live</h3>
							</header>
							<div class="meeting-content">
								<figure>
									<img src="https://placeimg.com/720/400/arch/10" alt="Ren" class="meeting__image">
								</figure>
								<div class="meeting-copy u-text-light-gray">
									<p>Specjalna platforma pomagająca w zorganizowaniu wyjątkowego eventu. Potrzebujesz muzyki na żywo lub ciekawego występu artystycznego? Zaproś gości, a detale zostaw nam.</p>
								</div>
							</div>
						</div>
					</li>

					<li class="col-sm-12 col-md-12 col-lg-4 meeting-slide">
						<div class="meeting">							
							<header class="meeting-header">
								<h3 class="meeting__title">Experiential sensory meetings</h3>
							</header>
							<div class="meeting-content">
								<figure>
									<img src="https://placeimg.com/720/400/arch/11" alt="Ren" class="meeting__image">
								</figure>
								<div class="meeting-copy u-text-light-gray">
									<p>Konferencje w wyjątkowej oprawie. Catering inspirowany lokalnymi smakami, przygotowany z sezonowych składników. Łamigłówki na każdym stole. Inspirujące elementy angażujące wszystkie zmysły.</p>
								</div>
							</div>
						</div>
					</li>

					<li class="col-sm-12 col-md-12 col-lg-4 meeting-slide">
						<div class="meeting">							
							<header class="meeting-header">
								<h3 class="meeting__title">Neighborhood narratives</h3>
							</header>
							<div class="meeting-content">
								<figure>
									<img src="https://placeimg.com/720/400/arch/12" alt="Ren" class="meeting__image">
								</figure>
								<div class="meeting-copy u-text-light-gray">
									<p>Niezwykła forma spędzania wolnego czasu. Hotelowi Navigatorzy z chęcią wskażą najlpesze miejsca w Warszawie, w których można wgryźć się w tkankę miasta.</p>
								</div>
							</div>
						</div>
					</li>					

				</ul>
			</div>
		</div>
	</div>
</section>