<section class="section meeting-app-section">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-sm-12 col-md-12 col-lg-11">
				<div class="row justify-content-between align-items-center">
					<div class="col-sm-12 col-md-12 col-lg-6 text-center u-m-top u-m-bottom">
						<figure>
							<img src="https://placeimg.com/720/400/arch/15" alt="Ren">
						</figure>
					</div>

					<div class="col-sm-12 col-md-12 col-lg-5">
						<header class="section-header u-no-p-top u-no-p-bottom text-center">
							<h2>Meting <strong>APP</strong></h2>
						</header>
						<div class="divider divider-sm"></div>
						<div class="row justify-content-center">
							<div class="col-sm-12 col-md-12 col-lg-11">
								<div class="copy text-center u-text-light-gray">
									<p>Nowoczesne rozwiązanie dla organizatorów i gości przestrzeni konferencyjnej. Gdziekolwiek jesteś, w każdym momencie eventu, jesteśmy w stanie zająć się każdym Twoim zgłoszeniem.</p>
								</div>								
							</div>
						</div>
					</div>					
				</div>				
			</div>
		</div>
	</div>
</section>