<section class="section rooms-section" id="rooms">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-sm-12 col-md-12 col-lg-10">
				<header class="section-header u-no-p-bottom text-center">
					<h2><strong>Wyjątkowa przestrzeń</strong><br>blisko lotniska</h2>
				</header>
				<div class="divider"></div>
			</div>			
		</div>
	</div>

	<div class="container">
		<div class="row justify-content-center">
			<div class="col-sm-12 col-md-12 col-lg-11">		
				<div class="rooms-slider">
					<ul class="swiper-wrapper">

						<li class="room swiper-slide">
							<div class="row">
								<div class="col-sm-12 col-md-12 col-lg-6">
									<div class="room-gallery">
										<ul class="swiper-wrapper">
											<li class="swiper-slide gallery-slide">
												<img src="https://placeimg.com/720/500/arch/7" alt="Ren">
											</li>
											<li class="swiper-slide gallery-slide">
												<img src="https://placeimg.com/720/500/arch/8" alt="Ren">
											</li>
											<li class="swiper-slide gallery-slide">
												<img src="https://placeimg.com/720/500/arch/9" alt="Ren">
											</li>
										</ul>
									</div>
								</div>
								<div class="room-content col-sm-12 col-md-12 col-lg-6 d-flex flex-column justify-content-between">
									<h3 class="room-title u-text-light-gray text-uppercase">Sala 01</h3>
									<div class="room-meta">
										<div class="d-flex justify-content-between align-items-end flex-wrap flex-lg-nowrap">
											<ul class="features-row d-flex align-items-center justify-content-between text-center u-text-light-gray">
												<li class="feature">
													<div class="feature__header">powierzchnia  77 m2</div>
													<i class="icon icon-plans"></i>
												</li>

												<li class="feature">
													<div class="feature__header">profesjonalne wyposarzenie</div>
													<i class="icon icon-projector"></i>
												</li>													
											</ul>
											<a href="#" class="btn btn-ren-gray btn-with-icon btn-lg">
												<span>Pobierz plany</span>
												<i class="icon icon-pdf icon-md"></i>
											</a>
										</div>
									</div>
									<div class="room-details">
										<ul class="flex-table">
											<li class="flex-table-col">
												<div class="flex-table-col-header">Teatralne</div>
												<div class="flex-table-col-data">49</div>
											</li>

											<li class="flex-table-col">
												<div class="flex-table-col-header">Klasowe</div>
												<div class="flex-table-col-data">39</div>
											</li>

											<li class="flex-table-col">
												<div class="flex-table-col-header">Boardroom</div>
												<div class="flex-table-col-data">18</div>
											</li>

											<li class="flex-table-col">
												<div class="flex-table-col-header">U</div>
												<div class="flex-table-col-data">27</div>
											</li>

											<li class="flex-table-col">
												<div class="flex-table-col-header">Koktajl</div>
												<div class="flex-table-col-data">&mdash;</div>
											</li>

											<li class="flex-table-col">
												<div class="flex-table-col-header">Bankiet</div>
												<div class="flex-table-col-data">49</div>
											</li>

											<li class="flex-table-col">
												<div class="flex-table-col-header">Kabaret</div>
												<div class="flex-table-col-data">30</div>
											</li>                                 
										</ul>
									</div>
								</div>
							</div>
						</li>

						<li class="room swiper-slide">
							<div class="row">
								<div class="col-sm-12 col-md-12 col-lg-6">
									<div class="room-gallery">
										<ul class="swiper-wrapper">
											<li class="swiper-slide gallery-slide">
												<img src="https://placeimg.com/720/500/arch/7" alt="Ren">
											</li>
											<li class="swiper-slide gallery-slide">
												<img src="https://placeimg.com/720/500/arch/8" alt="Ren">
											</li>
											<li class="swiper-slide gallery-slide">
												<img src="https://placeimg.com/720/500/arch/9" alt="Ren">
											</li>
										</ul>										
									</div>
								</div>
								<div class="room-content col-sm-12 col-md-12 col-lg-6 d-flex flex-column justify-content-between">
									<h3 class="room-title u-text-light-gray text-uppercase">Sala 01</h3>
									<div class="room-meta">
										<div class="d-flex justify-content-between align-items-end flex-wrap flex-lg-nowrap">
											<ul class="features-row d-flex align-items-center justify-content-between text-center u-text-light-gray">
												<li class="feature">
													<div class="feature__header">powierzchnia  77 m2</div>
													<i class="icon icon-plans"></i>
												</li>

												<li class="feature">
													<div class="feature__header">profesjonalne wyposarzenie</div>
													<i class="icon icon-projector"></i>
												</li>												
											</ul>
											<a href="#" class="btn btn-ren-gray btn-with-icon btn-lg">
												<span>Pobierz plany</span>
												<i class="icon icon-pdf icon-md"></i>
											</a>
										</div>
									</div>
									<div class="room-details">
										<ul class="flex-table">
											<li class="flex-table-col">
												<div class="flex-table-col-header">Teatralne</div>
												<div class="flex-table-col-data">49</div>
											</li>

											<li class="flex-table-col">
												<div class="flex-table-col-header">Klasowe</div>
												<div class="flex-table-col-data">39</div>
											</li>

											<li class="flex-table-col">
												<div class="flex-table-col-header">Boardroom</div>
												<div class="flex-table-col-data">18</div>
											</li>

											<li class="flex-table-col">
												<div class="flex-table-col-header">U</div>
												<div class="flex-table-col-data">27</div>
											</li>

											<li class="flex-table-col">
												<div class="flex-table-col-header">Koktajl</div>
												<div class="flex-table-col-data">&mdash;</div>
											</li>

											<li class="flex-table-col">
												<div class="flex-table-col-header">Bankiet</div>
												<div class="flex-table-col-data">49</div>
											</li>

											<li class="flex-table-col">
												<div class="flex-table-col-header">Kabaret</div>
												<div class="flex-table-col-data">30</div>
											</li>                                 
										</ul>
									</div>
								</div>
							</div>
						</li>						
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>