//## Mixins

// --------------------------------------------------
// Flexbox SASS mixins
// The spec: http://www.w3.org/TR/css3-flexbox
// --------------------------------------------------

// Flexbox display
@mixin flexbox() {
	display: flex;
}


// The 'flex' shorthand
// - applies to: flex items
// <positive-number>, initial, auto, or none
@mixin flex($values) {
	flex: $values;
}


// Flex Flow Direction
// - applies to: flex containers
// row | row-reverse | column | column-reverse
@mixin flex-direction($direction) {
	flex-direction: $direction;
}


// Flex Line Wrapping
// - applies to: flex containers
// nowrap | wrap | wrap-reverse
@mixin flex-wrap($wrap) {
	flex-wrap: $wrap;
}


// Flex Direction and Wrap
// - applies to: flex containers
// <flex-direction> || <flex-wrap>
@mixin flex-flow($flow) {
	flex-flow: $flow;
}


// Display Order
// - applies to: flex items
// <integer>
@mixin order($val) { 
	order: $val;
}


// Flex grow factor
// - applies to: flex items
// <number>
@mixin flex-grow($grow) {
	flex-grow: $grow;
}


// Flex shrink
// - applies to: flex item shrink factor
// <number> 
@mixin flex-shrink($shrink) {
	flex-shrink: $shrink;
}


// Flex basis
// - the initial main size of the flex item
// - applies to: flex itemsnitial main size of the flex item
// <width> 
@mixin flex-basis($width) {
	flex-basis: $width;
}


// Axis Alignment
// - applies to: flex containers
// flex-start | flex-end | center | space-between | space-around 
@mixin justify-content($justify) {
	justify-content: $justify;
}


// Packing Flex Lines
// - applies to: multi-line flex containers
// flex-start | flex-end | center | space-between | space-around | stretch 
@mixin align-content($align) {
	align-content: $align;
}


// Cross-axis Alignment
// - applies to: flex containers
// flex-start | flex-end | center | baseline | stretch 
@mixin align-items($align) {
	align-items: $align;
}


// Cross-axis Alignment
// - applies to: flex items
// auto | flex-start | flex-end | center | baseline | stretch 
@mixin align-self($align) {
	align-self: $align;
}


//** Transition
@mixin transition($transition...) {
  transition: $transition;
}
@mixin transition-property($property...) {
  transition-property: $property;
}
@mixin transition-duration($duration...) {
  transition-property: $duration;
}
@mixin transition-timing-function($timing...) {
  transition-timing-function: $timing;
}
@mixin transition-delay($delay...) {
  transition-delay: $delay;
}


//** Responsive mixins
@mixin breakpoint($class) {
  @if $class == xxs {
	@media (max-width: 320px) { @content; }  
  }
  @else if $class == xs {
    @media (max-width: 480px) { @content; }
  }
 
  @else if $class == sm {
    @media (max-width: 767px) { @content; }
  }
 
  @else if $class == md {
    @media (max-width: 991px) { @content; }
  }
 
  @else if $class == lg {
    @media (max-width: 1200px) { @content; }
  }
 
  @else if $class == xl {
	@media (max-width: 1444px) { @content; }
  }

  @else {
    @warn "Breakpoint mixin supports: xxs, xs, sm, md, lg, xl";
  }
}
