//## Variables

//** Colors
$default: 	    #fff;
$primary: 	    #c1a164;


$gray-base:	    #000000;
$gray: 	  	    #282828;
$gray-light:    #a2a2a2;
$gray-lighter:  #b7b7b7;
$gray-lightest: #f1f1f1;


//** Typography
$primary-font:   'Verlag', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$secondary-font: 'Helvetica Neue', Helvetica, Arial, sans-serif;

$font-size-copy: 18px;
$font-size-base: 16px;
$font-size-sm: 14px;
$font-size-xs: 12px;
$h1: 320%;
$h2: 280%;
$h3: 180%;
$h4: 140%;
$h5: 120%;
$h6: 110%;


//** UI
$border-radius-base: 8px;

//-- Button
$btn-border-radius:  $border-radius-base;
