//## Banner
@import "../_variables";
@import "../_mixins";

.banner {
	width: 100%;
	padding: 4rem;
	background-color: $default;
	box-shadow: 0px 0 100px 0 rgba($gray-base, 0.1);
	@include flexbox;
	@include align-items(center);
	@include justify-content(center);

	@include breakpoint(sm) {
		text-align: center;
		@include flex-direction(column);
	}

	&__image {
		max-width: 84px;
		display: block;
		border-radius: $border-radius-base;

		@include breakpoint(md) {
			max-width: 120px;
		}
	}

	&__title {
		color: $gray;
		margin-bottom: .5rem;

		@include breakpoint(sm) {
			margin-top: 2rem;
		}
	}
}

.banner-image-wrapper {
	padding-right: 2rem;

	@include breakpoint(sm) {
		padding-right: 0;
	}
}