//## Feature
@import "../_variables";
@import "../_mixins";

.feature {
	height: auto;
	padding: 20px;
	@include flexbox;
	@include flex-direction(column);
	@include align-items(center);
	@include justify-content(space-between);
	@include flex(1);

	&__header {
		margin-bottom: 20px;
		height: 100%;
		@include flexbox;
		@include align-items(center);
	}

	.icon {
		@include flex-shrink(0);
	}
}

.feature-row {
	padding-top: 10px;
	padding-bottom: 10px;
	@include flex-direction(row);
	@include align-items(center);
	@include justify-content(flex-start);			

	&:not(:last-child) {
		margin-bottom: 10px;
	}

	.feature__header {		
		color: $gray-light;
		text-align: left;
		margin-bottom: 0;
		height: auto;		
		padding-left: 2rem;
	}		
}