//## Meeting
@import "../_variables";
@import "../_mixins";

.meeting {
	text-align: center;
	height: 100%;	
	margin-bottom: 4rem;
	@include flexbox;
	@include flex-direction(column);
	@include justify-content(space-between);

	@include breakpoint(md) {
		text-align: left;
		height: auto;
		background-color: $default;
		box-shadow: 0 5px 30px rgba($gray-base, .15);
		padding-top: 2rem;
		padding-bottom: 2rem;
		margin-bottom: 2rem;
	}
}

.meeting-header {
	height: 20%;
	text-transform: uppercase;
	margin-bottom: 1rem;
	padding-left: 1rem;
	padding-right: 1rem;
	@include flexbox;
	@include align-items(flex-end);
	@include justify-content(center);

	@include breakpoint(md) {
		height: auto;
		margin-bottom: 2rem;
		@include justify-content(flex-start);
	}
}

.meeting-content {
	height: 80%;
	@include flex-shrink(0);	

	@include breakpoint(md) {
		height: auto;
	}	

	img {
		display: block;
	}	
}

.meeting-copy {
	margin-top: 1rem;
	padding-left: .5rem;
	padding-right: .5rem;

	@include breakpoint(md) {
		margin-top: 2rem;
		padding-left: 1rem;
		padding-right: 1rem;		
	}
}