//## Person
@import "../_variables";
@import "../_mixins";

.person {
	@include flexbox;
	@include justify-content(center);
	@include align-items(center);

	@include breakpoint(sm) {
		@include flex-direction(column);
		@include align-items(center);
	}

	&__image {
		width: 100%;
		max-width: 120px;
		display: block;
		border-radius: 50%;
		box-shadow: 0 0 0 5px $primary;
	}

	&__position {
		margin-bottom: 1rem;
	}
}

.person-image-wrapper {
	padding-right: 2rem;

	@include breakpoint(sm) {
		padding-right: 0;
		margin-bottom: 1rem;
	}	
}

.person-info-wrapper {
	font-size: $font-size-sm;
	line-height: 1.4;	
	color: $gray-light;
	@include flexbox;

	@include breakpoint(sm) {
		@include flex-direction(column);
	}
}

.person-info-col {
	padding: .5rem 0;

	&:not(:last-child) {
		padding-right: 2rem;

		@include breakpoint(sm) {
			padding-right: 0;
		}		
	}	
}

.person-header-wrapper {
	font-size: $font-size-base;
}