//## Flex table
@import "../_variables";
@import "../_mixins";

.flex-table {
	background-color: $default;
	border: 1px solid $primary;
	text-align: center;
	@include flexbox;
	@include flex-direction(row);
	@include align-items(center);
	@include flex-wrap(wrap);
}

.flex-table-col {
	@include flex(1);
}

.flex-table-col-header {
	font-size: $font-size-xs;
	color: $default;
	text-transform: uppercase;	
	background-color: $primary;
	padding: 10px 5px;
}

.flex-table-col-data {	
	padding: 2px 5px;	
}